{% extends 'base.html' %}
{% block title %}
Сообщение
{% endblock title %}
{% block content %}
{% for message in messages %}
<textarea id="myInput" style="width:500px; height:300px;">
{{ message.title }}
{{ message.weektime }} {{ message.hourtime }} {{ message.text }}</textarea>
<br>
    <a class="btn btn-primary" href="{% url 'main:message_edit' message.id %}">|Редактировать|</a>
    <button class="btn btn-primary" onclick="myFunction()">|Копировать|</button>
<br>
<br>
    <a class="btn btn-primary" href="https://web.whatsapp.com/send?phone={{ message.number }}" target="_blank">|Ссылка на WhatsApp кандидата|</a>
    <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          document.execCommand("copy");
        }
    </script>
{% endfor %}
{% endblock content %}
